*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* header start */

.hd{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.logo_image{
	width: 416px;
	height: 63.78px;
}

.hori{
	width: 416px;
	border-bottom: none;
	margin-bottom: 15px;
}

/* header end */


/* Join Start */

/* .join{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3px 200px;
	height: 455px;
}

.join::before{
	background-image: url(image/Rectangle\ 1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
} */




.join{
	background-image: url(image/Rectangle\ 1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
}

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.text{
	font-size: 2rem;
	color: white;
	margin: 30px;
	text-align: justify;
	font-size: 64px;
}

.btn{
	background-color: black;
	color: white;
	border: none;
	padding: 9px 18px;
	border-radius: 8px;
	transition: all .4s ease-in-out;
	font-weight: bolder;
	font-size: 1.2rem;
	cursor: pointer;
}

.btn:hover{
	background-color: white;
	color: black;
}

span{
	color: #E67136;
	line-height: 80px;
	margin-left: 200px;
}

/* Join End */